main {
    margin: auto;
    max-width: 500px;
    font-family: Verdana, sans-serif;
    vertical-align: bottom;
}

div {
    font-size: min(16px, 3vw);
    font-family: Verdana, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    padding: 0%;
    fill: turquoise;
}

tr {
}

td {
    width: fit-content;
    vertical-align: bottom;
    padding: 0;
}

link {
    color: black;
}

p {
    margin: 0;
    height: 100%;
    align-self: flex-end;
}