.container {
    margin: auto;
    max-width: 60%;
    font-family: Verdana, sans-serif;
}
.heading {
    color: rebeccapurple;
}
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}